/* <style forClass="Basicos"> */

*{
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body{
    background: #f2e8cf;
}

img, svg {
    vertical-align: middle;
}

.d-flex{
    display: flex !important;
}

.d-block{
    display: block !important;
}

.float-end {
    float: right!important;
}

.float-start {
    float: left!important;
}

.position-absolute {
    position: absolute!important;
}

.position-relative {
    position: relative!important;
}

.align-self-center {
    align-self: center!important;
}

.text-center{
    text-align: center;
}

.text-end{
    text-align: end;
}

.me-2{
    margin-right: 5px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.col-1{
    flex: 0 0 auto;
    width: 8.3333%;
}

.col-2{
    flex: 0 0 auto;
    width: 16.6666%;
}

.col-3{
    flex: 0 0 auto;
    width: 24.9999%;
}

.col-4{
    flex: 0 0 auto;
    width: 33.3332%;
}

.col-5{
    flex: 0 0 auto;
    width: 41.6665%;
}

.col-6{
    flex: 0 0 auto;
    width: 50%;
}

.col-7{
    flex: 0 0 auto;
    width: 58.3333%;
}

.col-8{
    flex: 0 0 auto;
    width: 66.6666%;
}

.col-9{
    flex: 0 0 auto;
    width: 74%;
}

.col-10{
    flex: 0 0 auto;
    width: 83.3332%;
}

.col-11{
    flex: 0 0 auto;
    width: 91.6665%;
}

.col-12{
    flex: 0 0 auto;
    width: 100%;
}

.rounded-circle {
    border-radius: 50%!important;
}

.border {
    border: 1px solid #dee2e6!important;
}

.align-items-center {
    align-items: center!important;
}

.text-center {
    text-align: center!important;
}

/* <style forClass="table"> */
.table {
    margin: 0 5px 0 5px;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

/* <style forClass="breadcrumb"> */
.breadcrumb{
    list-style-type: none;
    margin: 0;
    padding: 0 20px 0 0px;
    overflow: hidden;
}
.breadcrumb-item{
    float: left;
}

.breadcrumb a{
    padding-left: 5px;
    text-decoration: none;
    color: #a7c957;
}

.breadcrumb-item a::after{
    content: " /";
}

/* <style forClass="card"> */
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #ffffff;
    border: 1px solid rgb(182, 182, 182);
    border-radius: .25rem;
}

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-title {
    margin-bottom: .5rem;
}

.card-title>span{
    padding-top: 6px;
}

.card-body{
    padding: 10px 5px 10px 5px;
}

/* <style forClass="btn"> */

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-secondary{
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-info{
    color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-outline-success{
    color: #6a994e;
    border-color: #6a994e;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #6a994e;
    border-color: #6a994e;
}

.btn-success{
    color: #fff;
    background: #6a994e;
    border-color: #6a994e;
}

.btn-success:hover {
    color: #fff;
    background-color: #386641;
    border-color: #386641;
}

.btn-outline-danger{
    color: #bc4749;
    border-color: #bc4749;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #bc4749;
    border-color: #bc4749;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 33.33333%;
    border-right: 1px solid #305838c2;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:nth-child(n+3), .btn-group>:not(.btn-check)+.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 33.33333%;
}


/* <style forClass="menuHead"> */
.menuHead{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #a9a9a9;
    background: #6a994e;
}

/* <style forClass="L-menuView"> */
.ML-content-header{
    padding: 15px .5rem;
}

/* <style forClass="C-cardPizza"> */
.C-cardPizza{
    width: 3rem;
    border-radius: 0.50rem;
    margin: 0 5px 0 5px;
    padding: 4px 0 4px 0;
}

.L-betweenPizzas > .C-boton{
    margin: 0 5px 0 5px;
    /* background-color: #a7c957; */
    /* border: 1px solid #555555; */
    /* border-radius: 10px; */
    /* color: #555555; */
}

.cardPizza_circle--s{
    height: 1.5rem;
    width: 1.5rem;
}

.cardPizza_circle--xl{
    height: 8.5rem;
    width: 8.5rem;
    background: #f8ffbb;
    margin: 18px 0 9px 0;
}

.cardPizza_circle--l{
    height: 7.5rem;
    width: 7.5rem;
    background: #853636;
    top: 5%;
    left: 5%;
}

.cardPizza_id{
    top: 1rem;
    left: 1rem;
}

@media (max-width: 768px) {
    .cardPizza_id{
        top: 0rem;
        left: 0rem;
    }
}

/* <style forClass="content"> */
.content{
    padding: 0 .5rem;
}

/* <style forClass="pizza-summary"> */
/* .pizza-summary_button--add{
    background-color: #ffffff;
    color: #555555;
    border: 1px solid #6a994e;
}
.pizza-summary_button--add:hover{
    background-color: #6a994e;
}
.pizza-summary_button--remove{
    background-color: #ffffff;
    color: #555555;
    border: 1px solid #bc4749;
}
.pizza-summary_button--remove:hover{
    background-color: #bc4749;
} */

.pizza-summary_divisor{
    border-top: 1px solid #a9a9a9;
}
.pizza-summary_button--add::after{
    content: "+";
}
.pizza-summary_button--remove::after{
    content: "-";
}

/* <style forClass="preparation-card"> */
.preparation-card_img--option{
    width: 2rem;
}
/* <style forClass="cardOfitem"> */
.content-card--Items{
    margin: 5px 5px 5px 5px;
}

/* <style forClass="footer"> */
.footer{
    height: 200px;
    width: 100%;
    border-bottom: 1px solid #a9a9a9;
    background: #bc4749;
    margin-top: 35vh;
}