* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(pizza1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.titulo {
    font-size: 80px;
    color: #bc4749;
    border: 2px solid #6a994e;
    margin: 50, 50;
    text-align: center;
    width: 300;
    height: 200;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor_completo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__atras {
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #6a994e;
}

.caja__atras div {
    margin: 100px 40px;
    color: #f2e8cf;
    transition: all 500ms;
}

.caja__atras div p,
.caja__atras button {
    margin-top: 30px;
}

.caja__atras div h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja__atras div p {
    font-size: 16px;
    font-weight: 300;
}

.caja__atras button {
    padding: 10px 40px;
    border: 2px solid #f2e8cf;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: #f2e8cf;
    outline: none;
    transition: all 300ms;
}

.caja__atras button:hover {
    background: #f2e8cf;
    color: #bc4749;
}

.cont__l-r {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.cont__l-r form {
    width: 100%;
    padding: 80px 20px;
    background: #a7c957;
    position: absolute;
    border-radius: 20px;
}

.cont__l-r form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #bc4749;
}

.cont__l-r form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2e8cf;
    font-size: 16px;
    outline: none;
}

.cont__l-r form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: 2px solid #f2e8cf;
    font-size: 14px;
    background: #bc4749;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

.form__login {
    opacity: 1;
    display: block;
}

.form__register {
    display: none;
}

@media screen and (max-width: 850px) {
    main {
        margin-top: 50px;
    }
    .caja__atras {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__atras div {
        margin: 0px;
        position: absolute;
    }
    .cont__l-r {
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .cont__l-r form {
        position: relative;
    }
}