body{
    background: #6a994e;    
}

.barExter{
    background: #a0c355;
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.center{
    background: white;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 30px;
}

.center h2{
    font-size:30px;
}

.greenbtn{
    background: #6a994e;
    text-align: center;
    color: white;

}